<main class="container bg-dark text-light">
    <h1>Restaurar Contraseña</h1>
   <form action="/api/sessions/forgotPassword" method="POST" class="form-group w-50" >
        <label>Email</label>
        <input type="email" name="email" class="form-control">
        <button class="btn btn-outline-light w-100 mt-3">Restaurar Contraseña</button>
    </form>
</main>