<main class="container bg-dark text-light">
    <h1>Login</h1>
    <form action="/api/sessions/login" method="POST" class="form-group w-50 bg-dark text-light" >
        <label>Email</label>
        <input type="email" name="email" class="form-control">
        <label>Password</label>
        <input type="password" name="password" class="form-control">
        <button class="btn w-100 mt-3 text-light btn-outline-light">Ingresar</button>
        <a href="/register" class="btn w-100 mt-3 text-light btn-outline-light">
            Registrarse
        </a>
        <div class="bg-dark text-light">
            <a class="btn btn-dark mt-2" href="/forgotPassword">Olvide mi contraseña</a>
        </div>
    </form>
   
</main>